<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd
">

    <mvc:annotation-driven/>
    <context:component-scan base-package="com.dangweifu.learn.controller"/>

    <!-- 1、项目名称 -->
    <dubbo:application name="dubbo-web">
        <dubbo:parameter key="qos.port" value="22221"/>
    </dubbo:application>
    <!-- 2、注册中心地址 -->
    <dubbo:registry address="zookeeper://192.168.60.23:2181"/>
    <!-- 3、服务接口扫描包路径 -->
    <dubbo:annotation package="com.dangweifu.learn.controller"/>

</beans>